<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunshine.freeform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application
        android:name=".MiFreeForm"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeForm">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" /> <!-- bugly -->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="ef36a376e0" /> <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.2.2 beta" /> <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="private" /> <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />

        <activity
            android:name=".activity.floating_apps_sort.FloatingAppsSortActivity"
            android:label="@string/sort_apps_label" />
        <activity
            android:name=".activity.donation.DonationActivity"
            android:label="@string/donation_label" />
        <activity
            android:name=".activity.floating_setting.FloatingSettingActivity"
            android:label="@string/floating_label" />
        <activity
            android:name=".activity.choose_free_form_apps.ChooseAppsActivity"
            android:label="@string/choose_freeform_apps_label" />
        <activity
            android:name=".activity.floating_view.FloatingViewActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/floating_view_label"
            android:taskAffinity=":floating_view"
            android:theme="@style/Theme.FreeForm.FloatingViewTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.mi_window_setting.MiWindowSettingActivity"
            android:label="@string/mi_freeform_setting_label" />
        <activity android:name=".activity.main.MainActivity" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=":splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.QuickStartTileService"
            android:icon="@drawable/tile_icon"
            android:label="@string/choose_freeform_app"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.CoreService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".broadcast.StartFloatingViewReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sunshine.freeform.start_activity" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>